* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 10px;
}

body {
    background-image: url(kepek/hatter3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 60%;
}

main {
    width: 90%;
    max-width: 900px;
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

h1 {
    color: black;
    text-transform: uppercase;
    padding: 25px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 15px;
}

h3 {
    color: black;
    text-transform: uppercase;
    border-left: 3px solid black;
}

.cim {
    float: right;
}

.cim>a {
    text-decoration: none;
}

nav {
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px; 
    border: 1px solid black;
}
  
li a:hover:not(.active) {
    background-color: black;
    color: white;
}
  
.active {
    background-color: black;
    color: white;
}

.active:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
}

footer {
    border-top: 1px solid black;
    text-align: center;
    color: white;
}

/* Reszponzívitás */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "h h"
    "n n"
    "a as"
    "f f";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}

aside {
    grid-area: as;
}

footer {
    grid-area: f;
}

/* Tabletnézet: 800px */

@media screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "h h"
        "n n"
        "a as"
        "f f";
    }
}

/* Mobilnézet: 600px */

@media screen and (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "as"
        "a"
        "f";
    }

    header {
        height: 100%;
    }
}

/* nav középre: tabletnézetben, és gépnézetben(alap nézet) (kép) height beállítása 
body/main háttárkép
aside fajok oldalográs
aside article tartalom*/