header{
    background-image: url(kepek/kapcsolat_fejlec.PNG);
}
main{
    margin:auto ;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #070707;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #fcc326;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #d34f03;
}
  
div {
    border-radius: 5px;
    background-color: #d3894d;
    padding: 20px;
}
/* Reszponzívitás */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "h"
    "n"
    "a"
    "f";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

article {
    grid-area: a;
}


footer {
    grid-area: f;
}



/* Tabletnézet: 800px */

@media screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns:1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "f";
    }
}



/* Mobilnézet: 600px */

@media screen and (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "f";
    }

    header {
        height: 100%;
    }
}

/* nav középre: tabletnézetben, és gépnézetben(alap nézet) (kép) height beállítása 
body/main háttárkép
aside fajok oldalográs
aside article tartalom*/